.user-form {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffc107; 
  border-radius: 8px;
  background-color: white; 
  position: relative;
  left: 30%;
}

.user-form h1 {
  font-size: 1.8em; 
  margin-bottom: 20px; 
  color: #ffc107; 
}
h5 {
  font-size: 1.8em; 
  margin: 20px; 
  color: #ffc107; 
}

.user-form label {
  display: block;
  margin-bottom: 10px; 
  color: #2c3e50; 
}

.user-form input {
  width: 100%;
  padding: 10px; 
  margin-bottom: 15px; 
  box-sizing: border-box;
  border: 1px solid #bdc3c7; 
  border-radius: 4px;
}

.user-form button {
  color: white;
  padding: 12px 15px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.user-list {
  margin: 20px;
}

.user-list h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #2c3e50; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px; 
  text-align: left;
}

th {
  background-color: #ffc107; 
  color: white;
}

tr:nth-child(even) {
  background-color: #ecf0f1; 
}

tr:hover {
  background-color: #d5dbdb; 
}

button {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color:#ffc107; 
}
.error-msg{
  color: red;
}
