<section class="wt-section pb-0" >
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="200">
		  <div class="col-md-5">
                <img src="assets/img/about/1.jpg" width="90%" class="rounded-md" alt="">
            </div>
            <div class="col-md-7"> 
                <h2 class="mb-4 ">About Us</h2>
                <p class="text-muted">At GymBro, we're more than a gym – we're your fitness ally. Our state-of-the-art facilities, expert trainers, and supportive community create an environment where your fitness goals become reality. Join us on your journey to a stronger, healthier you.!</p>
            </div>
          
        </div>
    </div>
</section> 
<section class="wt-section">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="400">
            <div class="col-md-7"> 
                <h2 class="mb-4">Professional Team</h2>
                <p class="text-muted">Meet our exceptional team at GYMBRO. Expertise, passion, and a commitment to excellence drive us. Discover the faces behind our success and experience professionalism at its finest.!</p>
            </div>
          
		  <div class="col-md-5">
               <img src="assets/img/about/2.jpg" width="90%" class="rounded-md" alt="">
            </div>
        </div>
    </div>
</section> 
<section class="wt-section bg-primary">
    <div class="container">
    <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
      <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
        <h2 class="mb-md-2">Amenities</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
      </div>
    </div>
      <!-- Feature Blocks -->
      <div class="row">  
        <div class="col-md-4">
            <div class="bg-white p-5 mb-4 text-center rounded-md overflow-hidden b-hover" data-aos="fade-up"  data-aos-easing="linear" data-aos-delay="300">
                    <i class="ti-share-alt display-4 d-block text-primary mb-4"></i> 
                    <h6 class="my-2">Steam Bath</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p> 
            </div>
        </div>
                <div class="col-md-4">
            <div class="bg-white p-5 mb-4 text-center rounded-md overflow-hidden b-hover" data-aos="fade-up"  data-aos-easing="linear" data-aos-delay="500">
                  <i class="ti-pulse display-4 d-block text-primary mb-4"></i> 
                    <h6 class="my-2">Wi-Fi</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p> 
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="bg-white p-5 mb-4 text-center rounded-md overflow-hidden b-hover" data-aos="fade-up"  data-aos-easing="linear" data-aos-delay="800">
                    <i class="ti-panel display-4 d-block text-primary mb-4"></i> 
                    <h6 class="my-2">Air Conditioned</h6>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p> 
            </div>
        </div>
      </div>
      <!-- End Feature Blocks -->  
    </div>
  </section>
  <section class="bg-dark position-relative pt-5">
    <div class="container">
      <div class="row text-center text-uppercase text-white">
        <div class="col-lg-3 col-sm-6 pb-5">
          <h5 class="js-counter display-4 mb-1">{{CoachesNbr}}</h5>
          <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Trainer</small>
        </div>

        <div class="col-lg-3 col-sm-6 pb-5">
          <h5 class="js-counter display-4 mb-1">114</h5>
          <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Equipments</small>
        </div>

        <div class="col-lg-3 col-sm-6 pb-5">
          <h5 class="js-counter display-4 mb-1">{{subscribersNbr}}</h5>
          <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Customers</small>
        </div>

        <div class="col-lg-3 col-sm-6 pb-5">
          <h5 class="js-counter display-4 mb-1">2</h5>
          <small class="d-block font-style-normal text-uppercase wt-letter-spacing-sm">Cafeteria</small>
        </div>
      </div>
    </div>
  </section>
<section class="wt-section">
    <div class="container">
    <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
      <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
        <h2 class="mb-md-2">Testimonials</h2>
        <p>Maxi creative technology company providing key digital services for everyone.</p>
      </div>
    </div>
     
      <div class="row">
        <div class="col-lg-6 mb-7 mb-lg-0 px-lg-5" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="200">
          <!-- Testimonial -->
          <blockquote class="wt-blockquote-v2 rounded mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</blockquote>
          <div class="media wt-font-size-90">
            <img class="d-flex align-self-center rounded-circle wt-blockquote-v2__image wt-box-shadow-lg mx-3 mt-2" src="assets/img/ava/img2.jpg" alt="Image description">
            <div class="media-body align-self-center">
              <strong class="d-block">Kristen Morres</strong>
              <span class="wt-font-size-75 text-dark">XL Director</span>
            </div>
          </div>
          <!-- End Testimonial -->
        </div>

        <div class="col-lg-6 px-lg-5" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="400">
          <!-- Testimonial -->
          <blockquote class="wt-blockquote-v2 rounded mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</blockquote>
          <div class="media wt-font-size-90">
            <img class="d-flex align-self-center rounded-circle wt-blockquote-v2__image wt-box-shadow-lg mx-3 mt-2" src="assets/img/ava/img3.jpg" alt="Image description">
            <div class="media-body align-self-center">
              <strong class="d-block">James Vintel</strong>
              <span class="wt-font-size-75 text-dark">VNT Manager</span>
            </div>
          </div>
          <!-- End Testimonial -->
        </div>
      </div>
    </div>
  </section>	  