.message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .message.to {
    background-color: #ffc107;
    color: #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from { 
    background-color: #e5e4e9;
    color: #363636;
    margin-right: 100px;
  }
  .message.to + message.to,
  .message.from + .message.from {
    margin-top: -10px;
  }
  .btn{
      position: relative;
      top: 25px;
  }
  .btn:hover{
      background-color: black;
      color: white;
  }