table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px; 
    text-align: left;
  }

  th {
    background-color: #ffc107; 
    color: white;
  }

  tr:nth-child(even) {
    background-color: #ecf0f1; 
  }

  tr:hover {
    background-color: #d5dbdb; 
  }