<main >
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4"> Registration Form</h5>
                    <p class="text-center small">Enter your personal details to register </p>
                  </div>

                  <form class="row g-3 needs-validation" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="col-12">
                      <label for="name" class="form-label">Full name</label>
                      <input type="text" name="name" class="form-control" id="name" formControlName="name" required>
                      <div *ngIf="formControls['name']?.hasError('required') && formControls['name']?.touched" class="error-msg">Please enter your name !</div>  
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label" > Email</label>
                      <input type="email" name="email" class="form-control" formControlName="email" id="email" required>
                      <div *ngIf="formControls['email']?.hasError('required') && formControls['email']?.touched" class="error-msg">Please enter your email !</div> 
                      <div *ngIf="formControls['email']?.hasError('email') && formControls['email']?.touched" class="error-msg">Please enter a valid Email address !</div>
 
                    </div>


                    <div class="col-12">
                      <label for="phone" class="form-label" >Phone</label>
                      <input type="text" name="phone" class="form-control" formControlName="phone" id="phone" required>
                      <div *ngIf="formControls['phone']?.hasError('required') && formControls['phone']?.touched" class="error-msg">Please enter your phone number !</div>  
                    </div>

                    <div class="col-12">
                      <label for="gender" class="form-label">Gender</label>&nbsp;&nbsp;&nbsp;
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-warning btn-lg">
                          <input type="radio" name="gender" formControlName="gender" id="Male" value="Male" autocomplete="off" required> Male
                        </label>
                        <label class="btn btn-outline-warning btn-lg">
                          <input type="radio" name="gender" formControlName="gender" id="Female" value="Female" autocomplete="off" required> Female
                        </label>
                      </div>
                      <div *ngIf="formControls['gender']?.hasError('required') && formControls['gender']?.touched" class="error-msg">Please select your gender !</div>
                    </div>
                    
                    
                    
                    

                    <div class="col-12">
                      <label for="date" class="form-label">Date of Birth</label>
                      <div class="input-group has-validation">
                        <input type="date" name="date" class="form-control" formControlName="date" id="date" required>
                      </div>
                      <div *ngIf="formControls['date']?.hasError('required') && formControls['date']?.touched" class="error-msg mt-2">Please enter your Date of Birth ! </div>
                    </div>
                    

                 

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" formControlName="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                      </div>
                      <div *ngIf="formControls['terms']?.hasError('required') && formControls['terms']?.touched" class="error-msg mt-2">You must agree before submitting !</div>

                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Register Now</button>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>